<%- include('../inc/top.ejs') %>

    <div class="row m-2">
        <nav class="col-md-12 d-none d-sm-block" style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/users">Users</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detail User</li>
            </ol>
        </nav>
    </div>

    <section style="background-color: #f4f5f7;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="/images/luffy.png" alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                                <h5>
                                    <%= detail[0].fullname %>
                                </h5>
                                <p>Mobile Developer</p>

                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Thông Tin Người Dùng</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Tên Tài Khoản</h6>
                                            <p class="text-muted">
                                                <%= detail[0].username %>
                                            </p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Vị Trí</h6>
                                            <p class="text-muted">
                                                <%= detail[0].role %>
                                            </p>
                                        </div>
                                    </div>

                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-12 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">
                                                <%= detail[0].email %>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-start">
                                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                        <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../inc/bottom.ejs') %>