<%- include('../inc/top.ejs') %>

    <div class="row m-2">
        <nav class="col-md-12 d-none d-sm-block" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">User</li>
            </ol>
        </nav>
    </div>

    <div class="title d-flex justify-content-center mb-3 bg-light col-12">
        <h3>Danh sách người dùng</h3>
        <!-- <%= JSON.stringify(dataUser) %> -->
    </div>

    <div class="d-flex justify-content-between align-items-center bg-body-tertiary">
        <form class="col-10 d-flex justify-content-center align-items-center">
            <!-- Search -->
            <div class="col-5 mx-4">
                <input id="inputSearchProduct" class="form-control me-2" type="search" placeholder="Tìm kiếm..."
                    aria-label="Search" />
            </div>

            <div class="col-1"><button type="submit" class="btn btn-secondary">Search</button></div>
        </form>

        <!-- Add -->
        <div class="col-2">
            <a role="button" class="btn btn-outline-success m-2 ms-4" data-bs-toggle="modal"
                data-bs-target="#ModalAddUser">Thêm</a>
        </div>
    </div>


    <!-- Modal Add User -->
    <div class="modal fade" id="ModalAddUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="col-11 text-center modal-title fs-5" id="exampleModalLabel">Thêm Người Dùng</h1>
                    <button type="button" class="col-1 btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Xử lý thêm user tĩnh -->
                    <form method="post" action="/add">
                        <div class="mb-3">
                            <label for="exampleInputUsername1" class="form-label">Tên Đăng Nhập:</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="username" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputFullname1" class="form-label">Tên Người Dùng:</label>
                            <input type="text" class="form-control" id="exampleInputFullname1" name="fullname" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mật Khẩu:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="password" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Vai Trò</label>
                            <select id="Select" class="form-select" name="position" disabled>
                                <option selected>User</option>
                                <option>Admin</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Đóng
                            </button>
                            <button type="submit" class="btn btn-primary">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 col-sm-11 mx-sm-auto my-4 border border-color-default rounded">
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th class="fw-bold" scope="col">ID</th>
                    <th class="fw-bold" scope="col">Tên Người Dùng</th>
                    <th class="fw-bold" scope="col">Tên Đăng Nhập</th>
                    <th class="fw-bold" scope="col">Email</th>
                    <th class="fw-bold" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < dataUser.length; i++) { %>

                    <tr>
                        <th scope="row">
                            <%= dataUser[i].id %>
                        </th>
                        <td>
                            <%= dataUser[i].fullname %>
                        </td>
                        <td>
                            <%= dataUser[i].username %>
                        </td>
                        <td>
                            <%= dataUser[i].email %>
                        </td>
                        <td>
                            <!-- Xem, Sửa, Xóa -->
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-12">
                                    <a class="btn btn-info mb-1" href="users/detail/user/<%= dataUser[i].id %>">Xem</a>
                                </div>
                                <form class="col-md-4 col-sm-6 col-12" action="/edit-user/<%= dataUser[i].id %>"
                                    method="get">
                                    <button type="submit" class="btn btn-success mb-1">Sửa</button>
                                </form>
                                <form class="col-md-4 col-12" action="users/abc" method="post">
                                    <input type="text" hidden value="<%= dataUser[i].id %>" name="userId" />
                                    <button type="submit" class="btn btn-danger">Xóa</button>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <% } %>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-center px-5 ">
        <span style="opacity: 0.7;">
            5/100
        </span>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link">Trước</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Sau</a>
                </li>
            </ul>
        </nav>
    </div>

    <%- include('../inc/bottom.ejs') %>